body {
    font-family: raleway;
    background: linear-gradient(aqua, white);
    display: grid;
    grid-template-rows: 200px auto 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    color: blue;
    font-size: 100px;
    text-align: center;
    font-family: josefin sans;
    margin: 2rem;
}

.logo {
    width: 300px;
    border-color: rgba(3, 54, 222, 0.397);
    border-width: 8px;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: 0px auto;
    margin-top: 30px;
}

p {
    font-size: 30px;
}

.footer {
    background-color: blue;
    text-align: center;
    background-position: bottom;
    width: 100%;
    height: 100px;
}

.menu {
    background-color: wheat;
    text-align: center;
    text-decoration: none;
}

.menu :hover {
    background-color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 03s;
    text-transform: uppercase;
}

.nav {
    display: inline;
    width: 800px;
    height: 50px;
}

.card {
    background-color: blue;
    padding: 20px 5px;
    border: solid 3px black;
}

.card__title--verde {
    text-align: center;
    font-size: 40px;
}

.subti {
    text-align: center;
}

/*galeria inicia*/
.imgclass {
    min-height: 1000px;
    width: 100%;
    display: grid;
    color: rgb (245, 245, 245);
}
